BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 120
PointerAlignment: Right
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortBlocksOnASingleLine: Always
SortIncludes: true
